.swiper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24rem;
    margin: 0;
  }

  .swiper-wrapper {
    width: 20rem;
  }

  .swiper-slider {
    width: 20rem;
  }
  
 
  
 